@charset "utf-8";

// 设计稿宽为1080px时，适配移动端自适应方案

// 页面基础框架结构，来自初始时的那个版本

// !!!重置 rem-base
//
$rem-base: 108px;


.page-wrap{
    width: 100%;
    margin: 0 auto;
    font-family: STHeiTi, "Microsoft YaHei", Helvetica, "Helvetica Neue", sans-serif;
    position: relative;
    height: 100%;
    overflow: hidden;
}
.page{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}
.page-content{
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.loadding-box{
    width: 100%;
    display: -webkit-box;
    text-align: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    padding: rem-calc(20 0);
}
.infinite-scroll,
.page-turbo{
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}
/* === Images Lazy Loading === */
.lazy-loaded.lazy-fadeIn {
  -webkit-animation: lazyFadeIn 600ms;
  animation: lazyFadeIn 600ms;
}
@-webkit-keyframes lazyFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes lazyFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*********nav**********/
.tuku-nav{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: rem-calc(1080);
    height: rem-calc(132);
    display: -webkit-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: rem-calc(0 30 0 24);
    z-index: 11003;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #fafafa;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-transition: all 1.5s;
       -moz-transition: all 1.5s;
            transition: all 1.5s;
    border-bottom: 1px solid #e8e8e8;

    .nav-title{
        display: -webkit-box;
        -webkit-box-pack: center;
           -moz-box-pack: center;
        -webkit-box-align: center;
           -moz-box-align: center;
        width: rem-calc(540);
        height: rem-calc(130);
        @include font-dpr(18px);
        color: #333333;
    }

    .nav-ellipsis {
        display: block;
        line-height: rem-calc(140);
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .nav-back{
        position: absolute;
        top: rem-calc(5);
        left: 0;
        width: rem-calc(270);
        height: rem-calc(120);
        // background: url(../img/nav-back.png) no-repeat;
        background-size: contain;
    }
}

.page-content {

}
.designer-profile {
    position: relative;
     padding-top: rem-calc(132);
    // background: url(../img/profile_bg.jpg) no-repeat;
    background-size: contain;
    width: rem-calc(1080);
    height: rem-calc(584);

}
