/*test*/
.selector {
  width: 150px;
  height: 64px;
  /*px*/
  font-size: 28px;
  /*px*/
  border: 1px solid #ddd;
  /*no*/
  width: 10rem;
  font-size: 0.16rem;
  font-size: 16px;
}

[data-dpr="2"] .selector {
  font-size: 32px;
}

[data-dpr="3"] .selector {
  font-size: 48px;
}

html,
body {
  height: 100vh;
  background-color: #ee0a3b;
}

.item-section {
  min-height: 100%;
  background-color: #ee0a3b;
  position: relative;
  font-size: 12px;
}

[data-dpr="2"] .item-section {
  font-size: 24px;
}

[data-dpr="3"] .item-section {
  font-size: 36px;
}

.item-section ul {
  padding: 0.13333rem;
}

.item-section_header {
  text-align: center;
}

.item-section_header img {
  width: 10rem;
}

.flag {
  display: table;
  width: 100%;
  margin-bottom: 1px;
  background-color: #fff;
}

.flag .flag-item {
  display: table-cell;
  padding: 0.16rem 0;
  vertical-align: top;
  background-color: #fff;
}

.flag .flag-item.figure {
  width: 2.4rem;
  height: 2.4rem;
}

.flag .flag-item img {
  width: 2.4rem;
  height: 2.4rem;
  vertical-align: top;
}

.flag .flag-item.figcaption {
  width: 6.93333rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  position: relative;
}

.flag .flag-title a {
  color: #333;
  line-height: 1.25;
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
}

.flag .flag-price {
  padding: 0.16rem 0 0.2rem;
}

.flag .flag-price span {
  display: inline-block;
  background-color: #ee0a3b;
  vertical-align: middle;
  border-radius: 0.02667rem;
  padding: 0.02667rem 0.08rem 0.01333rem;
  color: #fff;
  font-weight: 700;
  margin-right: 0.06667rem;
  font-size: 11px;
}

[data-dpr="2"] .flag .flag-price span {
  font-size: 22px;
}

[data-dpr="3"] .flag .flag-price span {
  font-size: 33px;
}

.flag .flag-price strong {
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  color: #ee0a3b;
  margin-right: 0.16667rem;
  font-size: 16px;
}

[data-dpr="2"] .flag .flag-price strong {
  font-size: 32px;
}

[data-dpr="3"] .flag .flag-price strong {
  font-size: 48px;
}

.flag .flag-price small {
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  color: #ee0a3b;
  font-size: 12px;
}

[data-dpr="2"] .flag .flag-price small {
  font-size: 24px;
}

[data-dpr="3"] .flag .flag-price small {
  font-size: 36px;
}

.flag .flag-type {
  color: #ff3600;
}

.flag .flag-btn {
  position: absolute;
  width: 2.13333rem;
  height: 0.64rem;
  line-height: 0.64rem;
  background-color: #ee0a3b;
  text-align: center;
  color: #fff;
  font-weight: 700;
  bottom: 0.13333rem;
  right: 0.26667rem;
  border-radius: 0.02667rem;
  font-size: 14px;
}

[data-dpr="2"] .flag .flag-btn {
  font-size: 28px;
}

[data-dpr="3"] .flag .flag-btn {
  font-size: 42px;
}

.page-wrap {
  width: 100%;
  margin: 0 auto;
  font-family: STHeiTi, "Microsoft YaHei", Helvetica, "Helvetica Neue", sans-serif;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}

.page-content {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.loadding-box {
  width: 100%;
  display: -webkit-box;
  text-align: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  padding: 0.18519rem 0;
}

.infinite-scroll,
.page-turbo {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}

/* === Images Lazy Loading === */
.lazy-loaded.lazy-fadeIn {
  -webkit-animation: lazyFadeIn 600ms;
  animation: lazyFadeIn 600ms;
}

@-webkit-keyframes lazyFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes lazyFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*********nav**********/
.tuku-nav {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 10rem;
  height: 1.22222rem;
  display: -webkit-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0 0.27778rem 0 0.22222rem;
  z-index: 11003;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #fafafa;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  transition: all 1.5s;
  border-bottom: 1px solid #e8e8e8;
}

.tuku-nav .nav-title {
  display: -webkit-box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  width: 5rem;
  height: 1.2037rem;
  font-size: 18px;
  color: #333333;
}

[data-dpr="2"] .tuku-nav .nav-title {
  font-size: 36px;
}

[data-dpr="3"] .tuku-nav .nav-title {
  font-size: 54px;
}

.tuku-nav .nav-ellipsis {
  display: block;
  line-height: 1.2963rem;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tuku-nav .nav-back {
  position: absolute;
  top: 0.0463rem;
  left: 0;
  width: 2.5rem;
  height: 1.11111rem;
  background-size: contain;
}

.designer-profile {
  position: relative;
  background: url(../img/profile_bg.jpg) no-repeat;
  background-size: 100% 100%;
}

.designer-profile .profile-detail {
  padding: 0.55556rem 0 0.37037rem 0;
}

.profile-op {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.profile-op .profile-avator {
  margin: 0 1.25rem;
  width: 1.85185rem;
  height: 1.85185rem;
  border-radius: 50%;
  border: 1px solid #999;
  overflow: hidden;
}

.profile-op .profile-avator img {
  width: 100%;
  height: 100%;
}

.profile-op .profile-follow,
.profile-op .profile-per-order {
  background: #689f38;
  color: #fff;
  font-size: 15px;
  width: 2.35185rem;
  height: 0.92593rem;
  line-height: 0.92593rem;
  text-align: center;
}

[data-dpr="2"] .profile-op .profile-follow, [data-dpr="2"]
.profile-op .profile-per-order {
  font-size: 30px;
}

[data-dpr="3"] .profile-op .profile-follow, [data-dpr="3"]
.profile-op .profile-per-order {
  font-size: 45px;
}

.profile-op .profile-follow:active, .profile-op .profile-follow.hover,
.profile-op .profile-per-order:active,
.profile-op .profile-per-order.hover {
  background: #97c074;
}

.profile-social {
  text-align: center;
  padding-top: 0.27778rem;
}

.profile-social .profile-name {
  padding-bottom: 0.11111rem;
  color: #333;
  font-size: 16px;
}

[data-dpr="2"] .profile-social .profile-name {
  font-size: 32px;
}

[data-dpr="3"] .profile-social .profile-name {
  font-size: 48px;
}

.profile-social .profile-city {
  color: #666;
  font-size: 13px;
}

[data-dpr="2"] .profile-social .profile-city {
  font-size: 26px;
}

[data-dpr="3"] .profile-social .profile-city {
  font-size: 39px;
}

.profile-social .profile-item {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  padding-top: 0.38889rem;
}

.profile-social .profile-item .social {
  -webkit-flex: 1;
  color: #666;
}

.profile-social .profile-item .social:nth-child(2) {
  margin: 0 0.92593rem;
}

.profile-social .profile-item .social-item-num {
  font-size: 14px;
  color: #689f38;
}

[data-dpr="2"] .profile-social .profile-item .social-item-num {
  font-size: 28px;
}

[data-dpr="3"] .profile-social .profile-item .social-item-num {
  font-size: 42px;
}

.profile-social .profile-item .social-item-text {
  padding-top: 0.25926rem;
  font-size: 13px;
}

[data-dpr="2"] .profile-social .profile-item .social-item-text {
  font-size: 26px;
}

[data-dpr="3"] .profile-social .profile-item .social-item-text {
  font-size: 39px;
}

/*# sourceMappingURL=maps/f.css.map */
